<section class="ui eight wide column">

    <table class="ui celled table segment" style="table-layout: fixed; width: 95%; background-color: rgba(25,25,112,.7); color: white; margin-right: 5%; margin-top: .5%; border: 1px solid red; border-collapse: collapse">
      <thead>
        <tr>
          <th class="center aligned header" style="background-color: rgba(0,0,0,.8); color:white; width:85%">Your Blog TimeLine</th>
          <th class="center aligned header" style="background-color: rgba(255, 0, 0, .5); color: white"> Delete</th>
        </tr>
      </thead>
      <tbody>
      <form class ="ui form" action="/deleteSelectedBlogs" method="POST">
        {{#each blogs}}
          <tr style="border: 2px solid black">
            <td class="center aligned header" style="word-wrap: break-word">
              {{#if this.img.data}}
                <div class="ui center aligned row" style="border:1px solid silver;">
                  <img class="ui small image"  src="/getBlogImage/{{_id}}" style="border:1px solid silver;  margin:auto; " >
                </div>
              {{/if}}
              <div class="ui row" style="border:1px solid silver; color:white; word-wrap: break-word">
                <p>{{content}}</p>
              </div> </td>
            <td class="center aligned header"><input type="checkbox" class="delete"  name="_id" value={{_id}}></td>
          </tr>
        {{/each}}
           <tr>
             <td class="ui center aligned header"> <button class="ui small button" style="background-color: rgba(0,0,0,.8); color:white"><i class="remove icon"></i>Delete Posts</button></td>
      </form>
             <td class="ui center aligned header"><button class="ui small button" style="background-color: rgba(255, 0, 0, .5); color: white" onClick="return selectAll();" >Select</button></td>
           </tr>
      </tbody>
    </table>

</section>