<nav class="ui clear menu" style="border:2px double black; color: white; border-radius: 2px; margin-top: 0px">
  <img width="99.55%" src="images/navbar2.jpg" style="position: absolute; height:44px; border:2px double black" >
  <header class=" clear header item" ><a href="#" style="color: white"><i class="home icon"></i>MicroBlog</a></header>
  <div class="right menu">
    <a id="publicblogs" class="item" href="/publicblogs" style=" color: white">Public Blogs</a>
    <a id="settings" class=" item" href="/settings" style=" color: white">Settings</a>
    <a id="postblogs" class=" item" href="/postblog" style=" color: white">Blogs</a>
    <a class="item"  href="/logout" style=" color: white"><i class="edit icon"></i>Log-Out</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("blue active item");
</script>