{{> adminnav _id="admin" }}
<section class="ui center aligned section" style="width:80%; margin-left:10%">
  <div class="ui center aligned segment" style="background-color: rgba(0,0,0,.8); border:2px solid silver">
    <div class="ui large header" style="color:white;">Administrator Control Center</div>
  </div>
<div class="ui two column grid">
  <div class="ui center aligned four wide column">
    <form class="ui filter form" >
      <div class="ui  segment" style="background-color: rgba(0,0,0,.8); border:1px solid silver">
      <div class="ui  selection dropdown" id="FilterUser" name="user" style="background-color: rgba(25,25,112,.5);; margin-top:5%; border: 2px solid black; width:auto" >
        <input type="hidden" name="email" required>
        <div class="text" style="color:white" >Select Blogger</div>
        <i class="ui dropdown icon"></i>
        <div class="menu users" >
          <div class="item" style="background-color: rgba(0,0,0,.8); color:white">All Bloggers</div>
          {{#each user}}
            <div class="item bloggers" value="{{email}}" style="background-color: rgba(0,0,0,.8); color:white" >{{email}}</div>
          {{/each}}
        </div>
      </div>
      <button class="ui inverted green tiny button" style="color:steelblue; margin-top: 2%; width: 70%">Filter</button>
      </div>
      <div class="ui error message"></div>
    </form>
    <form class="ui delete form">
      <div class="ui  segment" style="background-color: rgba(0,0,0,.8); border:1px solid silver">
      <div class="ui  selection dropdown" id="DeleteUser" style="background-color: rgba(255, 0, 0, .5); margin-top:5%; border: 2px solid black; width:auto" >
        <input type="hidden" name="email" required>
        <div class="text" style="color:white" >Select Blogger</div>
        <i class="ui dropdown icon"></i>
        <div class="menu delete" >
          <!--<div class="item" style="background-color: rgba(0,0,0,.8); color:white">All Bloggers</div>-->
          {{#each allUsers}}
            <div class="item blogger" value="{{email}}" style="background-color: rgba(0,0,0,.8); color:white">{{email}}</div>
          {{/each}}
        </div>
      </div>
      <button class="ui inverted red tiny button" style="color:steelblue; margin-top: 2%; width: 70%"><i class="remove icon"></i>Delete</button>
        </div>
      <div class="ui error message"></div>
    </form>
      <div class="ui  segment" style="background-color: rgba(0,0,0,.8); border:1px solid silver">
        <button class="ui inverted green tiny button" onClick="return peekaBoo()" style="color:steelblue; margin-top:2%; width: 70%"><i class="add icon"></i>Add User</button>
      </div>
    <div class="ui  segment" style="background-color: rgba(0,0,0,.8); border:1px solid silver; display: none"  id="signUp">
      <form class="ui form signup" id="signform">
      {{> signuppartial }}
        <div class="ui error message"></div>
        <div class="ui segment" id="existing" style="display: none" >
          <p class="ui center aligned header" style="color:red">Email already exists</p>
        </div>
      </form>

    </div>
  </div>
<div class="ui twelve wide column">
  <div class="ui  center aligned segment" style="background-color: rgba(25,25,112,.5); color: white">
    <form class ="ui delblog form">
    <table class="ui compact celled table segment" style="margin-top: 0%; background-color: rgba(0,0,0,0); table-layout: fixed; border-collapse: collapse">
      <tbody style="line-height: .8">

    {{#each blogs}}


          <tr class="usersBlogs" style="border:2px double red" value="{{user.email}}">
            <td style="width:10%">
              <img class="ui avatar image" onerror="this.src= $(this).attr('altSrc')" altSrc="images/avatar.jpg" src="/getImage/{{user._id}}" style="border:1px solid silver; border-radius:30px; margin-left: 25%; height:40px; width: 40px" >
              <div class="ui row" style="color:white; max-height:20%">{{user.firstName}}'s</div>
              <div class="ui row" style="color:white; max-height:20%">blogs...</div>
           </td>
            {{#if this.img.data}}
              <td style="overflow: hidden; color:white; width:60%; word-wrap: break-word">
                <div class="ui center aligned row" style="border:2px double silver;">
                  <img class="ui small image"  src="/getBlogImage/{{_id}}" style="border:1px solid silver;  margin:auto; " >
                </div>
                <div class="ui row" style="border:1px solid silver; color:white; word-wrap: break-word">
                  <p>{{content}}</p>
                </div>
              </td>
            {{else}}
              <td class="left aligned header" style="overflow: hidden; color:white; width:60%; word-wrap: break-word"> {{content}} </td>
            {{/if}}
            <td class="right aligned header" style="width:10%"><input type="checkbox" class="ui right aligned header" name="_id" id="remove" value="{{_id}}"></td>
          </tr>
      {{/each}}
          <tr>
            <td class="ui left aligned header" style="width: 10%"><button class="ui tiny button" type="submit" style="background-color: rgba(0,0,0,.8); color:white">Delete</button></td>
            <td style="width:80%"></td>
            <td class="ui right aligned header" style="width:10%"><button class="ui tiny button" type="button" style="background-color: rgba(255, 0, 0, .5); color: white" onClick="return selectAll();" >Select</button> </td>
          </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>
</div>
</section>
<script type="text/javascript" src="javascript/admin.js"></script>

