
{{> mainnav }}

<section class="ui two column grid">
  <div class="ui ten wide column">

          <div class="text" style="color:white; margin-left: 5%; margin-top:5%; font-size: 20px">
          <h1>Welcome to MicroBlog</h1>


          <h3>Your site for uncensored waffle and tripe!</h3>


          <p>
            New to the site? Get reading some of the crap others have written under the Public Blogs tab.
          </p>
          <p>
            Simply reading rubbish, not enough of a thrill for you?
          </p>
          <p>
            The world of the keyboard warrior is just a few details away...
          </p>
          <p>
            Get your voice heard, sign up right <a  href="/signup">here</a> today!
          </p>
          <p>
            Already a member? Sign in <a  href="/login">here</a>.
          </p>
          <p>
            We hope you enjoy spouting on about whatever stupid little things grind your gears.
          </p>
          <p>
            Enjoy!!!
          </p>
        </div>
    </div>
  <div class="ui column">
  </div>
</section>