{{> secondarynav _id="postblogs" }}
<section class="ui two column grid">
  <section class="ui eight wide column" >
    <section class="ui form section" style="margin-left: 5%; margin-top: 1%">
      <form class="ui form" action="/postBlog" method="POST" enctype="multipart/form-data">
        <div class="field">
          <div class="ui center aligned header" style="color: white; background-color: rgba(0,0,0,.8); border: 2px solid red">Post</div>
          <textarea name="content" placeholder="Enter your post here..." style="border:1px solid red; background-color: rgba(0,0,0,.8); color:white "  onkeydown="textCounter(this,'counter',140);" maxlength="140"></textarea>
        </div>
        <div class="ui row">
          <input class="ui black button" type="file" name="img" style="width: 40%; background-color: rgba(0,0,0,.8); border: 1px solid silver; margin-left:30%" />
        </div>
        <div class="ui two column grid" style="margin-top: .2%">
          <div class="ui center aligned column"><button class="ui transparent button" style="color:steelblue"><i class="add icon"></i>Submit Post</button></div>
          <div class="ui center aligned column"><input disabled  style="width:18%"  value="140" id="counter"></div>
        </div>

      </form>

    </section>
  </section>

    {{> bloglist }}

  </section>