{{> secondarynav _id="settings" }}
<div class="ui two column grid">
  <div class="ui five wide column" style="margin-left: 5%">
    <section class="ui form" style="margin-top: 5%">
      <form class="ui form" action="/updateSettings" method="POST">
        <div class="text" style="color:white; margin-top:5%; font-size: 15px">
          <h1>Edit your MicroBlog account details here</h1>
        </div>
        <div class="two fields">
          <div class="field">
            <label style="color: white">First Name</label>
            <input value="{{user.firstName}}" name ="firstName" type="text"  style="border:1px solid black">
          </div>
          <div class="field">
            <label style="color: white">Last Name</label>
            <input value="{{user.lastName}}"  name ="lastName" type="text"  style="border:1px solid black">
          </div>
        </div>
        <div class="field">
          <label style="color: white">Email</label>
          <input value="{{user.email}}"  name ="email" type="text"  style="border:1px solid black">
        </div>
        <div class="field">
          <label style="color: white">Password</label>
          <input placeholder="Password" type="password" id="password" name ="password"  style="border:1px solid black">
        </div>
        <button class="ui transparent button" style="color:steelblue">Submit</button>
      </form>
      {{> formerror }}
    </section>
  </div>
  <div class="four wide column"></div>
  <div class="ui six wide column">
    <article class="right aligned container">
      <div class="ui card" style=" width:60%; background-color: rgba(0,0,0,.8);">
        <div class="image" >
          <img class="ui image" style="border:5px double silver; height:60%; width:70%; border-radius: 100px; opacity: .9; margin-left:15%" onerror="this.src= $(this).attr('altSrc')" altSrc="images/avatar.jpg" src="/getImage/{{user._id}}" >
        </div>
        <div class="content">
          <a class="center aligned header" style="color:white">{{user.firstName}}</a>
        </div>
        <div class="center aligned extra content" style="color:white">
            <i class="list icon"></i>
            Number of blogs: {{numberBlogs}}
        </div>
      </div>
    <form action="/uploadImage" method="POST" enctype="multipart/form-data">
      <div class="ui row">
        <input class="ui black button" type="file" name="picture" style="width: 60%; background-color: rgba(0,0,0,.8); border: 1px solid silver" />
      </div>
      <div class="ui row">
        <input class="ui  black center aligned button" style="width:60%; background-color: rgba(0,0,0,.8);; border: 1px solid silver; color: red"type="submit" name="submit" value="Upload" />
      </div>
    </form>
    </article>
  </div>
</div>